.anchor
.DS_Store
target/debug
target/release
target/deploy
target/flycheck0
target/types
target/sbpf-solana-solana
target/.rustc_info.json
!target/idl
!target/idl/*.json
**/*.rs.bk
node_modules
test-ledger
.yarn
